<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="styles/favorites.css">
</head>

<body>
    <header><%- include('../partials/header'); %></header>

    <main class="favorites-container">
        <h1 class="favorites-title">Vos Favoris</h1>

        <section class="favorites-items">
        </section>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
</body>
<script src="scripts/favorites.js"></script>

</html>