<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="styles/home.css">
</head>

<body>
    <header><%- include('../partials/header'); %></header>

    <main>
        <img class="background-img" src="http://localhost:3000/img/background/home_background.webp" alt="">
        <div class="products-description-title">
            <h2>Nos vêtements iconique : </h2>
        </div>
        <div class="iconic"></div>
        <div class="redirect-all-products"><a href="/products">Voir tout nos produits</a></div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>

</body>
<script src="scripts/home.js"></script>

</html>