<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="styles/product.css">
</head>

<body>
    <header><%- include('../partials/header'); %></header>

    <footer><%- include('../partials/footer'); %></footer>
</body>
<script src="scripts/product.js"></script>

</html>