<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="styles/products.css">
</head>

<body>
    <header><%- include('../partials/header'); %></header>

    <main>
        <div class="filter-container">
            <div class="filter">
                <button class="filter-toggle">Afficher les filtres</button>
                <div class="filter-options">
                    <h3>Filtres</h3>
                    <div class="filter-group">
                        <label>
                            <input type="checkbox" id="filter-homme">
                            Homme
                        </label>
                    </div>
                    <div class="filter-group">
                        <label>
                            <input type="checkbox" id="filter-femme">
                            Femme
                        </label>
                    </div>
                    <div class="filter-group">
                        <label>
                            <input type="checkbox" id="filter-nouveaute">
                            Nouveauté
                        </label>
                    </div>
                    <div class="filter-group">
                        <label>
                            <button class="reset-button">Reinitialiser</button>
                        </label>
                    </div>
                    <button class="apply-filters">Appliquer les filtres</button>
                </div>
            </div>
            <div class="sort">
                <button>Trier par</button>
                <div class="sort-choices">
                    <button class="decroissant">Prix : décroissant</button>
                    <button class="croissant">Prix : croissant</button>
                </div>
            </div>
        </div>

        <div class="products-list"></div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
</body>
<script src="scripts/products.js"></script>

</html>