<body>
    <div class="footer">
        <div class="left">
            <p>© Copyright 2025 </p>
            <p>Projet-Boutique</p>
        </div>
        <div class="right">
            <p>Amaru Tom</p>
            <p>Bourdot Romain</p>
        </div>
    </div>
</body>