@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&family=Roboto:wght@100..900&display=swap");

/* Base du document */
html {
  font-size: 16px; /* Taille de base */
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

/* Titres */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

/* Styles spécifiques des titres */
h1 {
  font-size: 2.5rem; /* 40px */
  font-weight: 800;
}

h2 {
  font-size: 2rem; /* 32px */
  font-weight: 700;
}

h3 {
  font-size: 1.75rem; /* 28px */
  font-weight: 600;
}

h4 {
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
}

h5 {
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
}

h6 {
  font-size: 1rem; /* 16px */
  font-weight: 500;
  text-transform: uppercase;
}

/* Liens */
a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #000;
}

/* Paragraphes */
p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
}

span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

/* Liste */
ul,
ol {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

/* Style de base pour les éléments de liste */
li {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 0.5em;
  list-style: none; /* Enlever les puces par défaut */
}
